.circle{
  width: $gutter * 2;
  height: $gutter * 2;
  border-radius: 100%;
  background: $card-grey;
  position: absolute;
  right:$gutter * -1;
  top:$gutter;
  p{
  position: relative;
    color: white;
    text-align: center;
    font-size:$circle-font-size;
    bottom:.2rem;

    }
}
