
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'reset';
$card-green:#2cb249;
$card-blue:#098bcd;
$card-grey:#9698a6;
$card-grey-darker:darken($card-grey,20%);
$card-border:solid .15rem $card-grey;
$circle-font-size:2rem;
$gutter:3rem;
$item-font-size: 1.7rem;
$icon-size:3rem;


@import 'lesson-card';
@import 'circle';
@import 'list';
@import 'icons';
